body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url("components/images/Satis.png");
  background-repeat: no-repeat;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  align-items: center;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif
}

ul {
  list-style-type: none;
  padding-left: 100px;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

header {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

label {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

a {
  display: block;
  align-content: center;
  padding: 15px;
  background-color: #dddddd;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

form {
  text-align: center;
}

p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

.main-page {
  text-align: center;
}

.white-black-border {
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

.NavBar {
  list-style-type: none;
  display: grid;
  gap: 25px;
  text-align: center;
}

.Nav-bar-container {
  align-items: center;
  padding-left: 23%;
  padding-right: 15%;
  display: contain;
  position: relative;
}

.video_container{
  text-align: center;
}

.board-BO-data {
  font-size: large;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.about-page-p-text {
  font-size: x-large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  text-align: center;
  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
}

.p-text {
  font-size: x-large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  text-align: center;
  padding: 1px;
  padding-left: 150px;
  padding-right: 150px;
}

.copy-right-p-text {
  font-size: small;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  text-align: center;
  bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.machineOres-cards {
  margin:auto;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  background-color: rgba(83, 224, 213, 0.344);
  text-align: center;
  height:540px;
}

.board-cards {
  margin:auto;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 600px;
  background-color: rgba(83, 224, 213, 0.344);
  text-align: center;
  height:600px;
}

.MO-cards {
  margin:auto;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 600px;
  background-color: rgba(83, 224, 213, 0.344);
  text-align: center;
  height:300px;
}

.score-boards-holder{
  display: flex;
  flex-direction: wrap;
  align-items: center;
}

.ore-image {
  max-width: 75%;  
  height: auto;  
}

.board-BO-data {
  margin: auto;
  margin: 10px;
  display: inline-block;
  flex-direction: wrap;
  align-items: center;
  height: 1px;
}

path {
  fill: none;
  stroke: black;
  height: 960;
}

.update-button {
  text-align: center;
}

.sub-title {
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

